.footer {
  max-width: 42rem;
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  font-size: 0.8rem;
}

.socialContainer {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
}

.linkSocial {
  color: var(--color);
  transition: all 0.3s ease;
}

.linkSocial:hover {
  color: var(--link-color);
}
