.aboutSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutSection p {
  opacity: 0.75;
}

.avatarImage {
  border-radius: 50%;
  margin-left: 0.8rem;
}

.heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
  .heading {
    border-color: #343539;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 50px;
}

.postTitle {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
}

.postDate {
  font-size: 14px;
  opacity: 0.75;
  margin: 0;
}

.link {
  color: var(--link-color);
  transition: all 0.3s ease;
}
