/* .bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.2rem;
  padding: 0 0.2rem 0;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.articleContainer {
  max-width: 48rem;
  margin: 0 auto;
  line-height: 1.5;
  white-space: pre-line;
}

.articleContainer h1 {
  font-size: 2rem;
}

.articleContainer img {
  width: 100%;
  height: auto;
}

.articleContainer figure {
  margin-left: 0;
  margin-right: 0;
}

.articleContainer figcaption {
  opacity: 0.6;
} */